.mainPrincipal {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(../../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  &__browsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Kalam", cursive;
    color: #bcc2ba;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.55);
  }

  &__browsersMeeseeks {
    margin-bottom: 5px;
  }

  &__browsersCidatel {
    margin-bottom: 5px;
  }

  &__meeseeks {
    height: 115px;
  }

  &__cidatel {
    height: 115px;
  }

  &__episode {
    height: 115px;
  }

  @media (min-width: 768px) {
    &__browsers {
      width: 350px;
    }
  }

  @media (min-width: 1024px) {
    &__browsers {
      width: 400px;
    }
  }
}
