.mainPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
  background-image: url(../../images/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;

  &__browsers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.55);
    border: 2px solid black;
    text-align: center;
    font-family: "Kalam", cursive;
    color: #bcc2ba;
  }

  &__browsersMeeseeks,
  &__browsersEpisode {
    width: 300px;
  }

  &__img {
    height: 90px;
  }

  @media (min-width: 768px) {
    &__browsers {
      width: 450px;
      height: 120px;
    }
    &__img {
      padding-right: 20px;
      height: 120px;
    }
    &__imgMeeseeks,
    &__imgEpisode {
      padding-right: 50px;
    }
  }

  @media (min-width: 1280px) {
    &__browsers {
      width: 600px;
    }
    &__img {
      padding-right: 50px;
    }
    &__imgMeeseeks,
    &__imgEpisode {
      padding-right: 90px;
    }
  }
}
