.characterList {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__link {
    width: 200px;
    padding-bottom: 20px;
  }

  &__item {
    width: 200px;
  }

  @media (min-width: 768px) {
    &__container {
      grid-template-columns: 1fr 1fr;
    }
    &__link {
      width: 300px;
    }
    &__item {
      width: 300px;
    }

    @media (min-width: 1024px) {
      &__container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
