.characterDetail {
  &__container {
    background-image: url(../../images/rick.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    background-color: black;
    width: 100%;
    text-align: center;
  }

  &__card {
    padding-top: 60px;
  }

  &__paragraph {
    background-color: black;
    color: #444343;
    font-family: "Bubblegum Sans", cursive;
    height: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
  }

  @media (min-width: 768px) {
    &__link {
      font-size: 30px;
    }
    &__card {
      padding-top: 150px;
    }
  }
}
