.characterDetail {
  &__container {
    background-image: url(../../images/faceRickk.png);
    background-size: 40px;
    background-repeat: repeat;
    min-height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    background-color: rgbs(0, 0, 0, 0.75);
    width: 100%;
    text-align: center;
  }

  &__card {
    padding-top: 60px;
  }

  &__paragraph {
    background-color: black;
    color: #777676;
    font-family: "Bubblegum Sans", cursive;
    height: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
  }

  &__errorMsg {
    background-image: url(../../images/Rick&MortyPersonaje.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 68vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pError {
    font-size: 40px;
    text-align: center;
    font-family: "Creepster", cursive;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.25);
  }

  @media (min-width: 768px) {
    &__link {
      font-size: 30px;
    }
    &__card {
      padding-top: 150px;
    }
    &__errorMsg {
      background-size: 650px;
    }
    &__pError {
      font-size: 60px;
    }
  }
}
