.characterList {
  &__paragraph {
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    font-size: 17px;
    font-weight: normal;
    margin-top: 10px;
    text-transform: none;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  &__link {
    width: 200px;
    padding-bottom: 20px;
  }

  &__item {
    width: 200px;
  }

  @media (min-width: 768px) {
    &__paragraph {
      font-size: 50px;
      margin-top: 130px;
    }
    &__text {
      font-size: 40px;
    }
    &__container {
      grid-template-columns: 1fr 1fr;
    }
    &__link {
      width: 300px;
    }
    &__item {
      width: 300px;
    }

    @media (min-width: 1024px) {
      &__container {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
