.form {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    color: #a5ff81;
    width: 250px;
    text-align: center;
  }

  &__input {
    border: 1px solid #a5ff81;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 250px;
    margin: 5px;
  }

  &__select {
    border: 1px solid #a5ff81;
    border-radius: 5px;
    width: 250px;
    margin-left: 5px;
    margin-top: 5px;
  }

  @media (min-width: 768px) {
    &__label {
      width: 400px;
      font-size: 25px;
    }
    &__input {
      width: 400px;
      margin: 5px;
      height: 25px;
      font-size: 20px;
    }
    &__select {
      width: 400px;
      margin: 5px;
      height: 25px;
      font-size: 20px;
    }
  }
}
