.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  border-top: 1px solid #a5ff81;
  background-color: black;

  &__img {
    height: 70px;
  }

  &__small {
    color: white;
    height: 20px;
  }

  @media (min-width: 768px) {
    &__img {
      height: 100px;
    }
    &__small {
      font-size: 20px;
    }
  }
}
