.header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #a5ff81;
  background-color: black;

  &__img {
    height: 100px;
  }

  @media (min-width: 768px) {
    &__img {
      height: 190px;
    }
  }
}
