.icon {
  &__species {
    position: absolute;
    margin-left: -155px;
    color: #444343;
  }
  &__poopy {
    height: 35px;
  }
  &__cronenberg {
    height: 30px;
    margin-left: -150px;
  }
  &__status {
    position: absolute;
    margin-right: -160px;
    color: #444343;
  }

  @media (min-width: 768px) {
    &__species {
      font-size: 20px;
      margin-right: 90px;
    }
    &__status {
      font-size: 20px;
      margin-right: -250px;
    }
  }
}
