@import "../Common/mixin";

.characterDetail {
  @include detail;

  &__linkContainer {
    @include detailLinkContainer;
  }

  &__linkBack {
    margin-bottom: 10px;
  }

  &__cardContainer {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__containerImg {
    display: flex;
  }

  &__img {
    width: 250px;
    border: 3px solid black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }

  &__containerMoreInfo {
    margin-bottom: 20px;
    padding-right: 5px;
    width: 250px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #777676;
    text-indent: 10px;
  }

  &__paragraphContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    position: relative;
    background-color: black;
    text-align: center;
    color: #777676;
    font-size: 20px;
  }

  &__subject {
    font-size: 20px;
  }

  &__paragraph {
    padding-bottom: 5px;
  }

  &__tittle {
    @include tittleDetail;
  }

  &__episodeList {
    @include listDetail;
  }

  &__episodeOne {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &__episodeLink {
    text-decoration: none;
    color: #8f8e8e;
  }

  &__errorMsg {
    @include errorMsgDetail;
  }

  &__pError {
    @include pErrorDetail;
  }

  &__loading {
    @include loadingDetail;
  }

  @media (min-width: 768px) {
    &__linkContainer {
      height: 40px;
      font-size: 20px;
    }
    &__cardContainer {
      padding-top: 25px;
    }
    &__img {
      width: 350px;
    }
    &__containerMoreInfo {
      width: 350px;
    }
    &__paragraphContainer,
    &__subject,
    &__tittle {
      font-size: 25px;
    }
    &__tittle {
      height: 30px;
    }
    &__paragraph,
    &__episodeOne {
      font-size: 20px;
    }
    &__errorMsg {
      background-size: 650px;
    }
    &__pError {
      font-size: 60px;
    }
    &__loading {
      background-size: 600px;
    }
  }
}
