.cardCharacter {
  &__img {
    width: 250px;
    border: 3px solid black;
    border-radius: 15px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -20px;
    height: 25px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #777676;
    font-family: "Bubblegum Sans", cursive;
  }

  &__name {
    width: 165px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  @media (min-width: 768px) {
    &__container {
      height: 30px;
      font-size: 20px;
    }
  }
}
