.mainCharacter {
  padding-bottom: 10px;
  min-height: 70vh;
  background-image: url(../../images/texturaRick&Morty.png);
  background-repeat: repeat;
  background-size: contain;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 27px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #c9ddc2;
    font-family: "Fresca", sans-serif;
    font-size: 17px;
  }

  &__paragraph {
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-family: "IM Fell English SC", serif;
    font-size: 27px;
    font-weight: 600;
    color: #adad91;
  }

  @media (min-width: 768px) {
    background-size: auto;
    &__link {
      height: 40px;
      font-size: 20px;
    }
    &__paragraph {
      padding-top: 20px;
      font-size: 45px;
    }
  }
}
