.characterList {
  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__paragraph {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    color: #e0dfdf;
    font-size: 20px;
    font-weight: bold;
  }

  &__img {
    width: 90px;
  }

  &__searchs {
    margin-top: 10px;
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    font-weight: normal;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
  }

  @media (min-width: 768px) {
    &__searchs {
      font-size: 25px;
    }
    &__text {
      font-size: 22px;
    }
  }
}
