.mainCharacter {
  background-image: url(../../images/texturaRick&Morty.png);
  background-repeat: repeat;
  background-size: contain;
  padding-bottom: 10px;
  min-height: 70vh;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    height: 22px;
    color: #c9ddc2;
    font-family: "Asap", sans-serif;
    margin-bottom: 10px;
  }

  @media (min-width: 768px) {
    background-size: auto;

    &__link {
      font-size: 20px;
      height: 40px;
    }
  }
}
