.locationCard {
  font-family: "Bubblegum Sans", cursive;
  text-align: center;

  &__name {
    background-color: #3c2976e0;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: rgba(23, 22, 22, 0.95);
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  &__container {
    background-color: rgba(36, 34, 34, 0.95);
    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgb(212, 211, 211);
    padding: 5px 10px 5px;
  }

  @media (min-width: 768px) {
    &__name {
      font-size: 22px;
    }
    &__container {
      font-size: 20px;
    }
  }
}
