.mainLocation {
  background-image: url(../../images/rick&mortyComic.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 200px;
  padding-bottom: 10px;
  min-height: 70vh;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    height: 22px;
    color: #7b7f7a;
    font-family: "Asap", sans-serif;
  }

  @media (min-width: 768px) {
    background-size: 400px;

    &__link {
      font-size: 20px;
      height: 40px;
    }
  }

  .sumary {
    background-color: rgba(2, 13, 17, 0.55);
    margin-top: 0;
  }

  .sumary__buttons {
    background: linear-gradient(to bottom, #0f396a 0%, #0a2c53 100%);
  }

  .sumary__buttons:after {
    border-top: 14px solid #072241;
    border-bottom: 14px solid #072241;
    border-right: 14px solid #072241;
  }
}
