.locationList {
  background-image: url(../../images/rick&mortyComic.png);
  background-repeat: no-repeat;
  background-position: bottom left 50%;
  background-size: 300px;

  &__error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__paragraph {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(12, 37, 44, 0.75);
    text-align: center;
    color: #e0dfdf;
    font-size: 20px;
    font-weight: bold;
  }

  &__searchs {
    text-transform: uppercase;
  }

  &__text {
    margin-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 17px;
    font-weight: normal;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    padding-bottom: 150px;
  }

  &__item {
    width: 280px;
  }

  @media (min-width: 768px) {
    &__searchs {
      font-size: 25px;
    }
    &__text {
      font-size: 22px;
    }
  }
}
