.mainLocation {
  padding-bottom: 10px;
  min-height: 70vh;
  background-image: url(../../images/rick&mortyComic.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 300px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #c9ddc2;
    font-family: "Fresca", sans-serif;
    font-size: 17px;
  }

  &__paragraph {
    background-color: rgba(1, 50, 67, 0.75);
    text-align: center;
    font-family: "IM Fell English SC", serif;
    font-size: 27px;
    font-weight: 600;
    color: #9c9c8d;
  }

  @media (min-width: 768px) {
    background-position: top 550px left 50%;
    background-size: 400px;
    &__link {
      height: 40px;
      font-size: 20px;
    }
    &__paragraph {
      font-size: 45px;
    }
  }

  @media (min-width: 1280px) {
    background-position: top 330px left 50%;
  }

  .submit__button {
    background-color: rgb(27, 69, 83);
    border: 1px solid rgb(41, 80, 94);
  }

  .sumary {
    margin-bottom: 20px;
    background-color: rgba(1, 50, 67, 0.25);
  }
  .sumary__buttons {
    background: linear-gradient(
      to bottom,
      rgba(1, 50, 67, 0.55) 0%,
      rgb(1, 44, 58) 100%
    );
  }
  .sumary__buttons:after {
    border-top-color: #072241;
    border-bottom-color: #072241;
    border-right-color: #072241;
  }
}
