.mainLocation {
  background-image: url(../../images/rick&mortyComic.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 300px;
  padding-bottom: 10px;
  min-height: 70vh;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    height: 22px;
    color: #7b7f7a;
    font-family: "Asap", sans-serif;
  }

  @media (min-width: 768px) {
    background-size: 400px;

    &__link {
      font-size: 20px;
      height: 40px;
    }
  }

  .sumary {
    background-color: rgba(12, 37, 44, 0.55);
    margin-top: 0;
  }

  .sumary__buttons {
    background: linear-gradient(
      to bottom,
      rgba(1, 50, 67, 0.55) 0%,
      rgb(1, 44, 58) 100%
    );
  }

  .sumary__buttons:after {
    border-top: 11px solid #072241;
    border-bottom: 11px solid #072241;
    border-right: 11px solid #072241;
  }
}
