.icon {
  &__species {
    position: absolute;
    margin-left: -155px;
    color: #777676;
  }
  &__poopy {
    height: 25px;
    width: 15px;
  }
  &__cronenberg {
    height: 20px;
    margin-left: -150px;
  }
  &__status {
    position: absolute;
    margin-right: -160px;
    color: #777676;
  }

  @media (min-width: 768px) {
    &__species {
      font-size: 20px;
      margin-right: 90px;
    }
    &__status {
      font-size: 20px;
      margin-right: -250px;
    }
  }
}
