.icon {
  &__species {
    padding-left: 10px;
    order: -1;
    color: #777676;
  }
  &__poopy {
    height: 25px;
    width: 15px;
  }
  &__cronenberg {
    height: 20px;
  }
  &__status {
    padding-right: 10px;
    color: #777676;
  }

  @media (min-width: 768px) {
    &__species {
      font-size: 20px;
    }
    &__status {
      font-size: 20px;
    }
  }
}
