.submit {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;

  &__button {
    position: relative;
    width: 120px;
    height: 30px;
    background-color: #324e3c;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.05) 49%,
      rgba(0, 0, 0, 0.05) 51%,
      rgba(0, 0, 0, 0.1)
    );
    border: 1px solid #3b634a;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4),
      inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    color: #b9b8b8;
    font-size: 15px;
    line-height: 30px;
    font-family: "Kalam", cursive;
    text-decoration: none;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  &__button:before {
    content: "";
    padding-left: 7px;
    border-right: 0.075em solid rgba(0, 0, 0, 0.1);
    box-shadow: 0.075em 0 0 rgba(255, 255, 255, 0.25);
    text-decoration: none;
  }

  &__button:focus,
  &__button:hover {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.15) 49%,
      rgba(0, 0, 0, 0.1) 51%,
      rgba(0, 0, 0, 0.15)
    );
  }

  &__button:active {
    background-image: linear-gradient(
      bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0) 30%,
      transparent 50%,
      rgba(0, 0, 0, 0.1)
    );
  }

  &__icon {
    position: absolute;
    left: 9px;
    top: 7px;
  }

  &__paragraph {
    padding-left: 16px;
  }

  @media (min-width: 768px) {
    &__button {
      width: 200px;
      height: 45px;
      font-size: 22px;
      line-height: 45px;
    }
    &__icon {
      left: 16px;
      top: 9px;
    }
    &__paragraph {
      padding-left: 40px;
    }
  }

  @media (min-width: 1280px) {
    align-items: center;
  }
}
