.errorRouteMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  background-image: url(../../images/Rick&MortyPersonaje.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__paragraph {
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 40px;
    font-family: "Creepster", cursive;
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    background-size: 650px;

    &__paragraph {
      font-size: 60px;
    }
  }
}
